<nav>
    <ul class="pagination">
        {% if currentPage != 1 %}
            <li><a href="{{ path(base_route ~ '_page', {'page': (currentPage - 1)}) }}"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
        {% endif %}
        {% if maxPages > 0 %}
            {% for p in 1..maxPages %}
                <li {% if p == currentPage %}class="active"{% endif %}><a href="{{ path(base_route ~ '_page', {'page': p}) }}">{{ p }}</a></li>
            {% endfor %}
        {% endif %}
        {% if currentPage != maxPages and maxPages > 0 %}
            <li><a href="{{ path(base_route ~ '_page', {'page': (currentPage + 1)}) }}"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
        {% endif %}
    </ul>
</nav>