<div class="col-md-12">
    <div class="btn-group pull-right">
        {% if form.vars.wizard_step == 1 %}
                <a type="button" class="btn btn-default" href="{{ path(base_route ~ '_index') }}">
                    <i class="fa fa-times"></i> Annuler
                </a>
        {% elseif form.vars.wizard_steps|length > 1 %}
                <a type="button" class="btn btn-default" href="{{ path(base_route ~ '_wizard', {'step': form.vars.wizard_step - 1, 'id': entity.id}) }}">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i> Précédent
                </a>
        {% endif %}
        {% if form.vars.wizard_steps|length > form.vars.wizard_step %}
            <button type="submit" class="btn btn-success">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i> Suivant
            </button>
        {% else %}
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i> Valider
                </button>
        {% endif %}
    </div>
</div>