{% block form_container %}
    <form action="{{ form.vars.action }}" method="post">
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Valider" class="btn btn-success btn-block" />
    </form>
{% endblock %}