{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
    {% spaceless %}
        <div class="form-group {{ errors|length > 0 ? 'has-error' : '' }}">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{# Puis on modifie très simplement nos input et textarea
les plus importants pour y ajouter le class imposée par Bootstrap 3 #}
{% block textarea_widget %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    {{ parent() }}
{% endblock textarea_widget %}

{% block form_widget_simple %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    {{ parent() }}
{% endblock form_widget_simple %}

{% block form_label %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')|trim}) %}
    {{ parent() }}
{% endblock form_label %}

{# et enfin les erreurs #}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <br/>
            <span class="col-md-12 alert alert-danger">
            {% for error in errors %}
                {{ error.message }}<br />
            {% endfor %}
            </span>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block checkbox_widget %}
    {% spaceless %}
        <div class="checkbox">
            <label>
                <input type="checkbox" {{ block('widget_attributes') }} {% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}> {{ form.vars.label }}
            </label>
        </div>
    {% endspaceless %}
{% endblock %}

{% block checkbox_label %}
{% endblock %}

{% block autocomplete_widget %}
    {% spaceless %}
        {% spaceless %}
            {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control core-autocomplete', 'multiple': attr.class|default('multiple')}) %}
            {% set type = type|default('text') %}
            <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} data-url="{{ ajax_url }}"/>
        {% endspaceless %}
    {% endspaceless %}
{% endblock %}